# Node
node_modules/
**/node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Logs
logs
*.log
pids
*.pid
*.seed
*.pid.lock

# Runtime
.env
.env.local
.env.*.local

# Editor
.vscode/
.idea/
*.sublime-workspace

# OS
.DS_Store
Thumbs.db

# Build
dist/
build/
coverage/
/.cache

# Docker
*.tgz

# Misc
.eslintcache
package-lock.json
pnpm-lock.yaml
/.parcel-cache

# Ignore nested git metadata if converting subrepo to files
/frontend/.git
